<html>
    <head><title>email</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <!-- templates/email.html -->
        <div class="container">
        <div class="jumbotron" style="center;">
            
            <h2 style="padding-left:50px; color:darkorange">Email Us</h2><br>
            <table border=8>
                <form method="post">
                    {% csrf_token %}
                     {{ form.as_table }}
                    <div class="form-actions">
                    </table><br>
                    <div style="padding-left: 70px">
                     <button type="submit" class='btn btn-success' style="padding:10px ">Send</button>
                    </div>
                </div>
                    </div>
                </form>
            </div>
    </body>
</html>